html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px solid red;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root{
    --MAIN-COLOUR: #fafaf9;
    --BG-COLOUR: #e5e7eb;
    --ACCENT-1: #0ea5e9;
    --ACCENT-2: #facc15;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

body{
    height: 100vh;
    background-color: var(--BG-COLOUR);
}

.wrapper{
    width: min(800px, 100%); 
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delBtn,
#closeBtn{
    height: 20px;
    width: 20px;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* table */

table{
    table-layout: fixed;
    background-color: var(--MAIN-COLOUR);
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr th:nth-last-child(-n+2),
tr td:nth-last-child(-n+2){
    width: 5%;
    text-align: center;
}

thead th{
    font-weight: bold;
}

#showDialog{
    margin-top: 1rem;
    width: 80px;
    height: 1.5rem;
}

/* form */

form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-row{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.form-row input[type=text],
.form-row input[type=tel]{
    width: 30ch;
}

.form-row input[type=checkbox]{
    margin-right: auto;
}

#closeBtn,
#saveBtn{
    margin-left: auto;
}